In [1]:
import os
import glob
import psycopg2
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from geoalchemy2 import Geometry, WKTElement
from shapely.geometry import Point

In [2]:
# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username
dbname = 'map_the_vote'
username = 'codyschank' # change this to your username

engine = create_engine('postgres://%s@localhost/%s'%(username,dbname))
print(engine.url)

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

postgres://codyschank@localhost/map_the_vote
True

In [3]:
# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = dbname, user = username)

In [4]:
path = '/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/'
extension = 'csv'
os.chdir(path)
files = [i for i in glob.glob('*.{}'.format(extension))]
files = [path + s for s in files]
files = sorted(files)

In [5]:
# FIRST do the first file
address_data = pd.read_csv(files[0], dtype={"LON": float, "LAT": float, "NUMBER": str, "STREET": str, "UNIT": str, 
                            "CITY": str, "DISTRICT": str, "REGION": str, "POSTCODE": str, "ID": str,
                            "HASH": str}, keep_default_na=False)
# combine text LON and LAT fields into a geometry 
geometry = [Point(xy) for xy in zip(address_data.LON, address_data.LAT)]

# add oa prefix to all columns
address_data.columns = ['oa_' + str(col) for col in address_data.columns]
address_data_gd = gpd.GeoDataFrame(address_data, crs=4326, geometry=geometry)

# convert column names to lower case will help later with database queries
address_data_gd.columns = map(str.lower, address_data_gd.columns)

address_data_gd["oa_street_address"] = address_data_gd["oa_number"].map(str) + ' ' +  address_data_gd["oa_street"]

# this is a bit slow, takes about 30-60s
# I don't know why this is necessary, but it is 
address_data_gd['geom'] = address_data_gd['geometry'].apply(lambda x: WKTElement(x.wkt, srid=4326))
address_data_gd.drop('geometry', 1, inplace=True)

In [6]:
table_name = "addresses_table_tx"
#write first 1000 rows to database
address_data_gd.head(1000).to_sql(table_name, engine, if_exists='replace', index=False, 
                                dtype={'geom': Geometry('POINT', srid= 4326)})

In [7]:
chunk_size = 1000
for i in range(1000, address_data_gd.shape[0]+chunk_size, chunk_size):
    address_data_gd[i:(i+chunk_size)].to_sql(table_name, engine, if_exists='append', index=False, 
                                dtype={'geom': Geometry('POINT', srid= 4326)})

In [8]:
# NOW do the rest of the files
for file in files[1:]: # skip the first one since I read it in already
    print(file)
    address_data = pd.read_csv(file, dtype={"LON": float, "LAT": float, "NUMBER": str, "STREET": str, "UNIT": str, 
                                "CITY": str, "DISTRICT": str, "REGION": str, "POSTCODE": str, "ID": str,
                                "HASH": str}, keep_default_na=False)

    # combine text LON and LAT fields into a geometry 
    geometry = [Point(xy) for xy in zip(address_data.LON, address_data.LAT)]
    
    # add oa prefix to all columns
    address_data.columns = ['oa_' + str(col) for col in address_data.columns]
    address_data_gd = gpd.GeoDataFrame(address_data, crs=4326, geometry=geometry)

    # convert column names to lower case will help later with database queries
    address_data_gd.columns = map(str.lower, address_data_gd.columns)
    
    address_data_gd["oa_street_address"] = address_data_gd["oa_number"].map(str) + ' ' +  address_data_gd["oa_street"]
    
    # this is a bit slow, takes about 30-60s
    # I don't know why this is necessary, but it is 
    address_data_gd['geom'] = address_data_gd['geometry'].apply(lambda x: WKTElement(x.wkt, srid=4326))
    address_data_gd.drop('geometry', 1, inplace=True)
    for i in range(0, address_data_gd.shape[0]+chunk_size, chunk_size):
        address_data_gd[i:(i+chunk_size)].to_sql(table_name, engine, if_exists='append', index=False, 
                                                    dtype={'geom': Geometry('POINT', srid= 4326)})

/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/austin.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/bandera.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/bastrop.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/bexar.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/brazoria.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/brazos.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/burleson.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/camp.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/capcog.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/carson.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_abilene.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_amarillo.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_austin.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_beaumont.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_buda.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_carrollton.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_cedar_park.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_colleyville.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_dalhart.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_denison.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_denton.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_flower_mound.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_garland.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_hurst.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_killeen.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_lewisville.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_longview.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_mansfield.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_mckinney.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_palestine.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_pearland.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_pflugerville.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_sherman.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_southlake.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_sugar_land.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_temple.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_university_park.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/city_of_waco.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/colleyville.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/colorado.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/comal.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/comanche.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/coryell.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/dallam.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/dallas.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/delta.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/denton.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/desoto.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/dimmit.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/duval.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/ector.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/el_paso.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/ellis.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/fannin.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/fayette.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/fisher.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/freestone.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/gaines.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/galveston.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/gillespie.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/gray.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/greater_houston.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/grimes.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/guadalupe.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/hansford.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/hartley.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/hays.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/hidalgo_county.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/houston.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/howard.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/hunt.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/hurst.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/johnson.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/kaufman.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/kendall.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/kerr.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/lamar.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/lasalle.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/lee.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/libery.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/liveoak.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/llano.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/lubbock.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/madison.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/maverick.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/mcculloch.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/mcmullen.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/medina.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/midland.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/milam.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/mills.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/montgomery.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/moore.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/nacogdoches.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/new_braunfels.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/nolan.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/north_richland_hills.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/ochiltree.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/orange.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/parmer.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/plano.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/rains.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/reeves.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/rockwall.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/round_rock.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/runnels.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/san_antonio.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/schleicher.csv

/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/shackelford.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/statewide-partial.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/tarrant-county.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/texoma-counties.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/titus.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/trinity.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/uvalde.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/vanzandt.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/waco.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/walker.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/washington.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/wharton.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/williamson.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/wilson.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/wood.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/young.csv
/Users/codyschank/Downloads/openaddr-collected-us_south/us/tx/zavala.csv

In [ ]:
# do I need 'as dst', or is it just 'dst'
sql_query = """
UPDATE addresses_table_tx dst
SET oa_postcode = src.zcta5ce10
FROM zip5_us src
WHERE ST_Intersects(src.geom, dst.geom);
"""

engine.execute(sql_query)

In [ ]:
# Update street_address column in addresses_table_tx
sql_query = """
UPDATE addresses_table_tx
SET oa_street_address = oa_street_address || ' ' || oa_postcode;
"""
engine.execute(sql_query)

In [9]:
# Delete rows where street number is empty
sql_query = """
DELETE FROM addresses_table_tx
WHERE oa_number = '';
"""
engine.execute(sql_query)

In [10]:
sql_query = """
DELETE FROM addresses_table_tx
WHERE oa_number = '0';
"""
engine.execute(sql_query)

In [11]:
sql_query = """
DELETE FROM addresses_table_tx
WHERE oa_street = '';
"""
engine.execute(sql_query)

In [ ]:
# start here

In [4]:
sql_query = """
UPDATE addresses_table_tx SET oa_street_address = replace(oa_street_address, 'COUNTY ROAD', 'CR');
"""
engine.execute(sql_query)

In [5]:
sql_query = """
UPDATE addresses_table_tx SET oa_street_address = replace(oa_street_address, 'STATE ROAD', 'SR');
"""
engine.execute(sql_query)

In [6]:
# COUNTY RD to CR in openaddress_street_address
sql_query = """
UPDATE addresses_table_tx SET oa_street_address = replace(oa_street_address, 'RANCH ROAD', 'RR');
"""
engine.execute(sql_query)

In [7]:
sql_query = """
UPDATE addresses_table_tx SET oa_street_address = replace(oa_street_address, 'HIGHWAY', 'HWY');
"""
engine.execute(sql_query)

In [13]:
# replace mc _ with mc_ in openaddress_street_address
sql_query = """
UPDATE addresses_table_tx SET oa_street_address = replace(oa_street_address, 'MC ', 'MC')
"""
engine.execute(sql_query)

In [4]:
# get rid of double spaces in openaddress_street_address, run twice
sql_query = """
UPDATE addresses_table_tx SET oa_street_address = replace(oa_street_address, '  ', ' ');
"""
engine.execute(sql_query)

In [ ]:
# run it again, just to be sure.
sql_query = """
UPDATE addresses_table_tx SET oa_street_address = replace(oa_street_address, '  ', ' ');
"""
engine.execute(sql_query)

In [27]:
# remove duplicates, just take first one
sql_query = """
CREATE TABLE addresses_table_tx_no_dupes AS
SELECT DISTINCT ON (oa_street_address) * FROM addresses_table_tx;
"""
engine.execute(sql_query)

In [9]:
# Delete the shorter street name (i.e. no prefix)
sql_query = """
DELETE FROM addresses_table_tx_no_dupes a USING addresses_table_tx_no_dupes b
    WHERE LENGTH(a.oa_street) < LENGTH(b.oa_street) 
    AND a.oa_postcode = b.oa_postcode 
    AND a.oa_number = b.oa_number
    AND (a.oa_street LIKE '%%' || b.oa_street OR b.oa_street LIKE '%%' || a.oa_street); 
"""
engine.execute(sql_query)